<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dicPath" value="Programs\DiscImageCreator.exe"/>
    <add key="psxt001zPath" value="psxt001z.exe"/>
    <add key="subdumpPath" value="subdump.exe"/>
    <add key="defaultOutputPath" value="ISO"/>
  </appSettings>
</configuration>
