# version format
version: 1.06_{build}

# vm template
image: Visual Studio 2017

# environment variables
environment:
  EnableNuGetPackageRestore: true

# msbuild configuration
platform:
- Any CPU
configuration:
- Debug

# install dependencies
install:
- ps: appveyor DownloadFile https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

# pre-build script
before_build:
- nuget restore

# build step
build:
  verbosity: minimal

# post-build step
after_build:
- 7z a DICUI.zip DICUI\bin\Debug

# artifact linking
artifacts:
- path: DICUI.zip
  name: DICUI