<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DICPath" value="Programs\DiscImageCreator.exe"/>
    <add key="SubDumpPath" value="subdump.exe"/>
    <add key="DefaultOutputPath" value="ISO"/>
    <add key="preferredDumpSpeedCD" value="72"/>
    <add key="preferredDumpSpeedDVD" value="24"/>
    <add key="QuietMode" value="false"/>
    <add key="RereadAmountForC2" value="20"/>
    <add key="VerboseLogging" value="true"/>
    <add key="OpenLogWindowAtStartup" value="true"/>
  </appSettings>
</configuration>
