<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DICPath" value="Programs\DiscImageCreator.exe"/>
    <add key="SubDumpPath" value="subdump.exe"/>
    <add key="DefaultOutputPath" value="ISO"/>

    <add key="PreferredDumpSpeedCD" value="48"/>
    <add key="PreferredDumpSpeedDVD" value="24"/>
    <add key="PreferredDumpSpeedBD" value="16"/>

    <add key="QuietMode" value="false"/>
    <add key="ParanoidMode" value="false"/>
    <add key="ScanForProtection" value="true"/>
    <add key="SkipMediaTypeDetection" value="false"/>
    <add key="SkipSystemDetection" value="false"/>
    <add key="RereadAmountForC2" value="20"/>
    <add key="VerboseLogging" value="true"/>
    <add key="OpenLogWindowAtStartup" value="true"/>
    <add key="AddPlaceholders" value="true"/>
    <add key="PromptForDiscInformation" value="true"/>
    <add key="IgnoreFixedDrives" value="false"/>

    <add key="Username" value=""/>
    <add key="Password" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
